body {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#header {
    display: none;
}

.pagetitle {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: #414141;
    padding-top: 3%;
}

.main {
    padding-top: 2%;
}

.main h1 {
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: #414141;
}

br {
    display: none
}

.sidebar h2 {
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: #414141;
    padding-top: 2%;
}

#menu_home .button {
    display: none;
}

/*----------------------------------Skills----------------------------------*/
#menu_skills ul li {
    list-style: none;
}

ul.skills {
    margin: 10px 0 0 0
}

ul.skills li {
    padding: 15px 10px 14px 0;
    border-bottom: 1px solid #ddd;
    color: #888;
    text-shadow: 1px 1px 1px #fff;
}

ul.skills li:last-child {
    border-bottom: none
}

ul.skills li .topic {
    width: 25%;
}

ul.skills li .stars {
    float: left;
    width: 35%
}

/*----------------------------------Networks----------------------------------*/
ul.networks li {
    height: 25px;
    padding: 1%;
    list-style: none;
    cursor: pointer
}


ul.networks li a {
    text-decoration: none
}

ul.networks li .content {
    position: absolute;
    display: block;
    z-index: 2;
    margin: 6px 0 0 0
}

ul.networks li img {
    float: left;
    padding-right: 8px;
    width: 20px;
    height: 20px;
    border: 0
}

ul.networks li .title {
    float: left
}

ul.networks li .title .sname {
    display: none;
}

ul.networks li p {
    color: #999;
    font-size: 11px;
    margin: 0;
    padding: 0
}

#menu_contact .spacer {
    display: none;
}

#menu_contact .sidebar br {
    display: block;
}

#menu_contact .button {
    text-align: right;
    margin-left: 70%;
    margin-bottom: 5%;
}